<div>
  <div>

    <form action="/insert_board" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <button>
        Add board
      </button>
    </form>
  </div>
</div>

<hr>

<!-- Add css elements -->

    <div class="container">


      <div class="row">
  <div class="offset-md-3 col-md-6">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h1 class="h6">All boards</h1>

        <!-- Button trigger modal -->
        <button type="button" class="ms-auto btn btn-sm btn-outline-success" data-bs-toggle="modal" data-bs-target="#newBoardModal">
          Add a new board
        </button>
      </div>

      <div class="list-group list-group-flush">
  
          <% @list_of_boards.each do |a_board| %>
              <a href="/boards/<%= a_board.id %>" class="d-flex list-group-item list-group-item-action">
                <%= a_board.name %>

                <div class="ms-auto">
                <i class="fa-solid fa-chevron-right"></i>
                </div>
              </a>
          <% end %>

      </div>
    </div>
  </div>
</div>
